__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env
backend/api/api_keys.json
backend/pragon_brain/pragon_log.log
backend/pragon_brain/pragon_brain.db
backend/consciousness/unified/
backend/library_store/
backend/forgeoutput/
backend/ragsystem/chroma_store/
backend/ragsystem/venv/
.DS_Store
backend/api/githubapi.txt
backend/customforge/config/api_keys.json
frontend/node_modules/
